# Dependencies & build outputs
**/node_modules/
**/target/
**/build/

# Logs & temp files
*.log
**/app.log
**/*.tmp

# IDEs & System
.DS_Store
.idea/
.vscode/

# Environment variables & secrets
.env
.env.*
*.env

# Media uploads (optional ignore if dynamic uploads shouldn't be tracked)
# vinnavar-backend/media/
