# Dependencies & build outputs
**/node_modules/
**/target/
**/build/

# Logs & temp files
*.log
**/app.log
**/*.tmp

# IDEs & System
.DS_Store
.idea/
.vscode/

# Environment variables & secrets
.env
.env.*
*.env

# Media uploads
vinnavar-backend/media/*
!vinnavar-backend/media/**/.gitkeep

